<div class="py-4 px-2" id="search">
  <div class="flex items-start flex-col justify-between px-4 w-full">
    <div *ngIf="label" class="flex items-center text-nowrap">
      <div class="title flex items-center">
        <span class="display_small">
          {{ label }}
        </span>
      </div>
    </div>
    <div class="flex items-center justify-between gap-2">
      <div class="w-full">
        <p-iconField iconPosition="left">
          <p-inputIcon styleClass="pi pi-search" />
          <input class="w-full" type="text" pInputText placeholder="Search" />
        </p-iconField>
      </div>
      <div *ngIf="hasButton" class="flex items-center justify-end">
        <button class="text-textColor px-4 py-2" (click)="buttonClick.emit()">
          <span class="pi pi-plus"></span>
        </button>
      </div>
    </div>
  </div>
</div>
