<div class="py-4 px-2" id="search">
  <div class="flex items-start flex-col justify-between px-4 w-full">
    <div *ngIf="label" class="flex items-center text-nowrap">
      <div class="title flex items-center">
        <span class="display_small">
          {{ label }}
        </span>
      </div>
    </div>
    <div class="flex items-center justify-between gap-2">
      <form [formGroup]="searchForm" class="w-full">
        <p-iconField iconPosition="left">
          <p-inputIcon styleClass="pi pi-search" />
          <input
            formControlName="search"
            class="w-full"
            type="text"
            pInputText
            placeholder="Buscar"
          />
        </p-iconField>
      </form>
      <div *ngIf="hasButton" class="flex items-center justify-end">
        <button class="text-textColor px-4 py-2" (click)="buttonClick.emit()">
          <span class="pi pi-plus"></span>
        </button>
      </div>
    </div>
  </div>
</div>
