<form [formGroup]="form">
  <p-floatLabel>
    <p-password
      inputId="password"
      class="[&>.p-component>.p-component]:text-textColor [&>.p-component]:w-full [&>.p-component>.p-component]:w-full [&>.p-component>.p-component]:bg-secondaryBackground [&>.p-component>.p-component]:border-none"
      [formControlName]="controlName"
      promptLabel="Escolha uma senha"
      weakLabel="Muito fraca"
      mediumLabel="Baixa complexidade"
      strongLabel="Senha forte"
      [feedback]="true"
    >
      <ng-template pTemplate="footer">
        <p-divider />
        <ul class="pl-2 ml-2 mt-0" style="line-height: 1.5">
          @for (check of checks; track $index) {
            <li [ngClass]="{ 'text-primary': check.status }">
              {{ check.label }}
            </li>
          }
        </ul>
      </ng-template>
    </p-password>
    <label class="body_medium" for="password">{{ label }}</label>
  </p-floatLabel>
</form>
