<div class="flex flex-col gap-2">
  <div class="flex justify-start gap-4 text-secondaryText items-center">
    <i routerLink="" class="text-xl pi pi-angle-left cursor-pointer"></i>
    <h1 class="headline_small">Esqueceu sua senha?</h1>
  </div>
  <h2 class="body_small">
    Digite o e-mail associado à sua conta e lhe enviaremos um código de
    verificação.
  </h2>
  <form [formGroup]="form" class="flex flex-col gap-8 my-4">
    <div class="flex flex-col gap-2">
      <p-floatLabel>
        <input
          class="w-full bg-secondaryBackground border-none text-textColor"
          inputId="username"
          type="email"
          placeholder="Insira seu endereço de email"
          pInputText
          formControlName="email"
        />
        <label class="body_medium" for="username">E-mail</label>
      </p-floatLabel>
    </div>
  </form>
  <div class="flex p-4 justify-center">
    <button
      class="title_small bg-primary border-none rounded-button px-4 h-12 disabled:brightness-50"
      (click)="recover()"
      [disabled]="form.invalid"
    >
      Enviar link de redefinição
    </button>
  </div>
</div>
