<div class="h-auto flex-col flex w-auto bg-background">
  <div
    class="w-full"
    [ngClass]="{ 'mt-[100px]': !mobile, 'mb-[100px]': mobile }"
  >
    <router-outlet></router-outlet>
  </div>
  <p-tabMenu
    class="w-full fixed z-20"
    [ngClass]="mobile ? ' bottom-0' : 'top-0'"
    [model]="actions"
    [activeItem]="activeItem"
    (activeItemChange)="onActiveItemChange($event)"
  >
    <ng-template pTemplate="item" let-item>
      <a
        [routerLink]="item.routerLink"
        pRipple
        class="flex flex-col align-items-center gap-2 p-menuitem-link"
      >
        <span [class]="item.icon" style="font-size: 1.5rem"></span>
        <span class="font-bold text-xs">
          {{ item.label }}
        </span>
      </a>
    </ng-template>
  </p-tabMenu>
</div>
