<div class="flex flex-wrap w-screen">
  <app-header
    class="w-full"
    label="Itens"
    [hasButton]="true"
    labelButton="Adicionar Item"
    (buttonClick)="createItem = !createItem"
    (searchEvent)="searchItems($event)"
  ></app-header>
  <div class="flex flex-wrap gap-4 p-4 h-full w-full min-h-screen">
    @for (item of items$ | async; track $index) {
      <app-item class="w-full" [item]="item" (editItem)="editItem($event)" />
    } @empty {}
  </div>

  <p-sidebar
    [(visible)]="createItem"
    position="bottom"
    [style]="{ height: '500px' }"
  >
    <ng-template pTemplate="header">
      <span class="font-semibold text-xl">Novo Item</span>
    </ng-template>
    <app-create-item
      [item]="item"
      (createItem)="createdItem()"
    ></app-create-item>
  </p-sidebar>
</div>
