<div
  class="flex justify-center items-center bg-secondary rounded-button p-4 w-full"
>
  <div
    class="flex justify-center items-center bg-alternate rounded-full w-32 z-[1]"
  >
    <img
      class="object-cover object-center"
      [src]="image"
      [alt]="item.name"
      width="120px"
    />
  </div>
  <div class="flex flex-col w-full justify-center items-center">
    <span class="title_large text-center">{{ item.name }}</span>
    <span class="title_medium">{{ item.price | currency: "BRL" }}</span>
    @if (item.stock) {
      <span class="title_small">Qtd. {{ item.stock }}</span>
    }
  </div>
  <div class="flex justify-start items-start h-20">
    <span
      class="pi pi-pencil title_small cursor-pointer"
      (click)="editItem.emit(item)"
    ></span>
  </div>
</div>
