<div class="flex flex-col gap-2">
  <div class="flex justify-start gap-4 text-secondaryText items-center">
    <i routerLink="" class="text-xl pi pi-angle-left cursor-pointer"></i>
    <h1 class="headline_small">Alterar senha</h1>
  </div>
  <h2 class="body_small">Insira a nova senha</h2>
  <form [formGroup]="form" class="flex flex-col gap-8 my-4">
    <div class="flex flex-col gap-2">
      <p-floatLabel>
        <app-password-checker
          [form]="form"
          controlName="password"
          label="Senha"
        ></app-password-checker>
      </p-floatLabel>
    </div>
    <div class="flex flex-col gap-2">
      <p-floatLabel>
        <p-password
          inputId="confirmPassword"
          class="[&>.p-component>.p-component]:text-textColor [&>.p-component]:w-full [&>.p-component>.p-component]:w-full [&>.p-component>.p-component]:bg-secondaryBackground [&>.p-component>.p-component]:border-none"
          type="password"
          placeholder="insira sua senha"
          [toggleMask]="true"
          [feedback]="false"
          formControlName="confirmPassword"
        />
        <label class="body_medium" for="confirmPassword">
          Confirmação da Senha
        </label>
        @if (
          form.errors?.["passwordMismatch"] &&
          form.get("confirmPassword")?.touched
        ) {
          <small class="text-primaryText ml-4">
            <span>As senhas não coincidem.</span>
          </small>
        }
      </p-floatLabel>
    </div>
  </form>
  <div class="flex p-4 justify-center">
    <button
      class="title_small bg-primary border-none rounded-button px-4 h-12 disabled:brightness-50"
      (click)="change()"
      [disabled]="form.invalid"
    >
      Redefinir senha
    </button>
  </div>
</div>
